<% content_for :title do %>Ship.IO Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome." data-text="This is your Ship.IO Dashboard."></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jobs" data-view="Number" data-title="Running Jobs"></div>
    </li>
   	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="job_percentage" data-view="Percentage" data-title="Passing Percentage"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="running_job_graph" data-view="Graph" data-title="Running Jobs"></div>
    </li>
  </ul>
</div>